services:
  redis:
    image: redis:7-alpine
    container_name: betaso-truco-redis
    ports:
      - '${REDIS_PORT:-6379}:6379'
    volumes:
      - redis-data:/data
    restart: unless-stopped
    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD}
    healthcheck:
      test: ['CMD', 'redis-cli', '-a', '${REDIS_PASSWORD}', 'ping']
      interval: 10s
      timeout: 3s
      retries: 3
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}

  redis-insight:
    image: redis/redisinsight:latest
    container_name: betaso-truco-redisinsight
    ports:
      - '${REDISINSIGHT_PORT:-5540}:5540'
    volumes:
      - redisinsight-data:/data
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy

volumes:
  redis-data:
  redisinsight-data: